.App {}

body {
  background-color: whitesmoke;
  /* height: 100vh;
  width: 100vw; */
  margin: 0%;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: flex-start;

}

.main-1 {
  margin-left: auto;
  display: flex;
}

.main-link {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

.doc {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.doc-head {
  cursor: pointer;
  transition: 0.5s;
}

.doc-head:hover {
  color: #7970f7;
}

.doc-ed {
  cursor: pointer;
  transition: 0.5s;
}

.doc-ed:hover {
  color: #30f394;

}